body {
    font-family: 'Roboto', sans-serif;
}

.black-section {
    background-color: #4a4949;
    color: #ffffff;
}

.white-section {
    background-color: #ffffff;
}

.intro {
    text-align: center;
    padding-top: 80px;
}

.img-profile {
    height: 300px;
    width:  300px;
    border-radius: 50%;
    margin: 30px 0px;
}

.nav-menu {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-left: 0px;
    font-size: 15px;
    margin-top: 6rem;
}

.nav-menu li {
    display: inline-block;
    padding: 10px 0px;
    margin: 0px 18px;
}

.nav-menu li a {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    text-decoration: none;
}

.about-me {
    text-align: center;
    padding-top: 80px;
    font-size: 15px;
}

.line-break-black {
    width: 25%;
    border-width: 4px;
    border-color: #000000;
}

.project {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.line-break-project {
    width: 25%;
    border-width: 4px;
    border-color: #ffffff;
}

.project-list {
    padding-top: 50px; 
    text-align: center;
}

.project-list a {
    color: #ffffff;
}

.project-list h4 {
    text-align: center; 
}

.arrow-align {
    text-align: center;
}

.contact {
    text-align: center;
    padding-top: 40px;
    font-size: 30px
}

.contact-white-section {
    height: 25vh;
    background-color: #ffffff;
}

.contact-icons {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0px;
}

.contact-icons li {
    display: inline-block;
    margin: 2px 18px;
    padding-top: 10px;
}

.contact-icons li a {
    color: #4a4949eb;
}

.arrow-setting {
    text-align: center;
    padding-top: 62px;
    padding-bottom: 20px;
}

.arrow-icons {
    color: #4a4949eb;
}

.arrow-icons-black {
    color: #ffffff;
}

.about-me-icons {
    text-align: center;
    padding-top: 54px;
    font-size: 30px;
    padding-bottom: 20px;
}

@media screen and (min-width:768px) {
    .black-section {
        height: 100vh;
    }
    
    .white-section {
        height: 100vh;
    }

    .nav-menu {
        font-size: xx-large;
    }

    .nav-menu li {
        padding: 10px;
    }

    .project-list {
        padding-top: 50px; 
    }
    
    .about-me-icons {
        text-align: center;
        padding-top: 60px;
        font-size: 30px;
    }

    .about-me {
        text-align: center;
        padding-top: 180px;
        font-size: 30px;
    }

    .arrow-setting {
        text-align: center;
        padding-top: 70px;
    }
}